<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfinitiMCLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <InfinitiMCLauncher.Properties.Settings>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinMem" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MaxMem" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="JVMArgs" serializeAs="String">
                <value>-XX:MaxPermSize=256m</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>True</value>
            </setting>
        </InfinitiMCLauncher.Properties.Settings>
    </userSettings>
</configuration>